



/*---------- navigation bar features--------- */
nav{
  background-color: aliceblue;

}
.navigation_links{
  text-decoration: none;
}
.links {
  text-align: right;
  padding-right: 100px;
 
}
.imagelogo {
  text-align: left;
}
 .nav-link {
  padding: 25px 20px;
  color: #0859b6;
  font-weight: 500;
  outline: none;
  text-decoration: none;
  padding-top: 280px;
  
   
}

.nav-link:hover,
.nav-link.active {
  color: #0BCEAF;
}  


/* ------HOME CSS */
.container{
  background-color: blue;
}

.about-img {
float: right;
margin-left: 0px;
margin-top: 0px;
width: 700px;
height: 500px;
border-radius: 200%;
overflow: hidden;
}


  /* Mission AND Vision css */

  .homepage {
    padding: 0 2px;
    Background-Color: #e1e3e1;
  }

  .boxes {
    width: auto;
    display: flex;
    justify-content: center;
  }
  box2{
    
  }
  





/* section */
.section {
  padding-bottom: 5rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}